<footer>
    <div>
        <h1>FoundCareer&#174;</h1>
        <p>Perfect platform for job seekers</p>
    </div>
    <div class="links">
        <a href="">About</a>
        <a href="">Contact Us</a>
        <a href="">Find Jobs</a>
    </div>
    <div class="social">
        <p>Find us on social media</p>
        <div>
            <a href="https://www.linkedin.com/">
                <img src="./../../../assets/linkedin.png" width="30" style="margin-right: 1rem;" /></a>
                <a href="https://www.behance.com/">
                    <img src="./../../../assets/behance.png" width="30" style="margin-right: 1rem;"/>
                </a>
                <a href="https://www.twitter.com/">
                <img src="./../../../assets/twitter.png" width="30" style="margin-right: 1rem;" />
            </a>
            <!-- Icons - linkedIn, Behance, Twitter -->
        </div>
    </div>
</footer>