<section>
  <h1>Contact Us</h1>
  <h3>General Inquiries:</h3>
  <p>
    <span> Email: </span>
    info&#64;foundcareer.com
    <br />
    <span> Phone: </span>
    +1 (555) 123-4567
  </p>
  <h3>Customer Support:</h3>
  <p>
    For assistance with your account, technical issues, or general support,
    please contact our Customer Support team. <br /><span> Email: </span>
    info&#64;foundcareer.com
    <br />
    <span> Phone: </span>
    +1 (555) 123-4567
  </p>
  <h3>Business Partnerships:</h3>
  <p>
    If you are interested in exploring partnership opportunities with
    FoundCareer, please reach out to our Partnerships team. <br />
    <span> Email: </span>
    info&#64;foundcareer.com
    <br />
    <span> Phone: </span>
    +1 (555) 123-4567
  </p>
  <h3>Media Inquiries:</h3>
  <p>
    For press releases, media interviews, or other media-related inquiries,
    please contact our Media Relations team. <br />
    <span> Email: </span>
    info&#64;foundcareer.com
    <br />
    <span> Phone: </span>
    +1 (555) 123-4567
  </p>
  <h3>Visit Us:</h3>
  <p>
    FoundCareer Headquarters 123 Careers Avenue, Suite 567 Cityville, State
    12345
  </p>
  <h3>Social Media:</h3>
  <p>
    Connect with us on social media for the latest updates, news, and community
    discussions.
  </p>
  <ul>
    <li>Facebook</li>
    <li>Twitter</li>
    <li>LinkedIn</li>
    <li>Instagram</li>
  </ul>
  <h3>Feedback:</h3>
  <p>
    We value your feedback! If you have any suggestions, comments, or ideas to
    share, please use our Feedback Form to let us know how we can better serve
    you.
  </p>
</section>
