<app-header [ngClass]="{'bg-blur' : detailJobStatus}"></app-header>
<main>
    <router-outlet></router-outlet>
</main>

<app-footer></app-footer>
<!-- https://rapidapi.com/Pat92/api/jobs-api14 -->



<!-- Search Component -->

<!-- 
<input type="text" [value]="searchValue" (change)="handleInputChange($event)" placeholder="location">
<button (click)="check()">Search Location</button>

<button (click)="getRequest()">Get Requests</button>

<input type="text" [value]="searchJob" (change)="handleInputJob($event)" placeholder="title, keyword, job">
<button (click)="check()">Search Job</button>

<button (click)="getJobRequest()">Get Job Requests</button> -->






<!-- <button (click)="getNextPage()" >Get Next Page</button>
<button (click)="getPrevPage()" >Get Previous Page</button> -->



<!-- <div style="display: flex; flex-wrap: wrap; margin: 5%; justify-content: space-evenly; " [ngClass]="{'bg-blur' : detailJobStatus}">
    @for (job of jobsList; track job.id) {
        <app-card [job]="job" (JobDetail)="openDetail($event)"></app-card>
    }
</div>

@if (detailJobStatus) {
    <app-card-detail [job]="detailJob" (closeDetail)="closeDetail()"></app-card-detail>
} -->