<section class="first-section" [ngClass]="{'bg-blur' : detailJobStatus}">
    <div class="content">
       
        <h1>Navigate Careers, Find Opportunities, and Ignite Your Professional Journey with Us.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium natus quam, nam debitis nesciunt ex veniam. Hic temporibus rerum ipsa nesciunt ipsum mollitia.</p>
        <button [routerLink]="'/jobs'">Search Now</button>
    </div>
    <div class="image">
        <img src="../../../assets/Group 26 (1).png" alt="">
    </div>
</section>

<section class="second-section" [ngClass]="{'bg-blur' : detailJobStatus}" >
    <h2>Browse Jobs by Category</h2>
    <div class="group">
        <button>All</button>
        <button>Marketing</button>
        <button>Accountant</button>
        <button>Education</button>
    </div>
    <div class="cards">
       @for (job of jobs; track job) {
        <app-card [job]="job" (JobDetail)="openDetail($event)"></app-card>
       }
    </div>
</section>
@if (detailJobStatus) {
    <app-card-detail [job]="detailJob" (closeDetail)="closeDetail()"></app-card-detail>
} 

<section class="third-section" [ngClass]="{'bg-blur' : detailJobStatus}">
    <img src="../../../assets/Subtract.png" alt="">
    <h1>You are currently seeing jobs from United States!</h1>
</section>
